*.py[co]

recent_files
plugInstCache.xml
uistate.ini

gizmos/DespillMadness.gizmo
gizmos/EdgeExtend.gizmo
gizmos/EdgeExtend2.gizmo
gizmos/EdgeFromAlpha.gizmo
gizmos/HighPass.gizmo
gizmos/ITransform.gizmo
gizmos/KillOutline.gizmo
gizmos/L_Despill_v05.gizmo
gizmos/L_Grain_v05.gizmo
gizmos/P_Matte.gizmo
gizmos/Super_L_Grain_v06.gizmo
gizmos/UnsharpMask.gizmo
gizmos/UnspillMadness.gizmo
gizmos/VectorExtendEdge.gizmo

python/phoswindows.py
python/tabtabtab.py
python/bgNukes.py
gizmos/tab_stats.dat
